:root {
  --default-color: #333333;
  --color-background: #ffffff;
  --secondary-color: #2F80ED;
  --border-color: #BDBDBD;
}

body {
  min-height: 100vh;
  color: var(--default-color);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
